@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600;700&display=swap');
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, blue,indigo,green);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#upload{
    display: none;
}
label{
    background-color: pink;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid black;
}